@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Crimson";
    font-style: normal;
    font-weight: normal;
    src: url("/static/fonts/Crimson/crimson-text-regular.woff2") format("woff2"); /* Super Modern Browsers */
  }
  body {
    @apply bg-green-500;
  }
  h1 {
    @apply text-6xl;
    font-family: "Crimson";
  }
}
